@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.locations-page__search {
    display: flex;
    align-items: center;
    width: 343px;
    height: 48px;
    padding: 12px 17px;
    gap: 10px;
    background: #152a3a;
    border-radius: 100px;
    input {
        width: 200px;
        font-size: $regularSize-1;
        line-height: 24px;
        color: $noActiveElement;
        background: $blackThemeBorder;
    }
    .border {
        width: 24px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        transform: rotate(90deg);
    }
}
.locations-page__list {
    display: flex;
    flex-direction: column;
    .count-of-locations {
        margin-bottom: 24px;
        p {
            width: 282px;
            text-transform: uppercase;
            @include text-style($smallerSize, $small-line-height, $biggest-letter-spacing, $bold-font-weight);
        }
    }
    .list-locations{
        overflow-y: scroll;
        height: 610px;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
}
.navigation-panel {
    position: absolute;
    bottom: 0.6px;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    padding: 8px 10px 12px;
    background: #152a3a;
    box-shadow: 0px -4px 30px rgba(0, 0, 0, 0.08);
    &__item{
        width: 88.75px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: $noActiveElement;
    }
    &__item_select{
        width: 88.75px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #43D049;
    }
}