@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.locations-page__search {
    display: flex;
    align-items: center;
    width: 343px;
    height: 48px;
    padding: 12px 17px;
    gap: 10px;
    border-radius: 100px;
    background:var(--secondary-color);
    input {
        width: 200px;
        font-size: $regularSize-1;
        line-height: 24px;
        color: $noActiveElement;
        background: inherit;
    }
    .border-dark {
        width: 24px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        transform: rotate(90deg);
    }
    .border-light {
        width: 24px;
        border: 1px solid #BDBDBD;
        transform: rotate(90deg);
    }
}
.locations-page__list {
    display: flex;
    flex-direction: column;
    .count-of-locations {
        margin-bottom: 24px;
        p {
            color: $noActiveElement;
            width: 282px;
            text-transform: uppercase;
            @include text-style($smallerSize, $small-line-height, $biggest-letter-spacing, $bold-font-weight);
        }
    }
    .list-locations{
        overflow-y: scroll;
        height: 610px;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
}