@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.count-of-characters {
    display: flex;
    gap: 24px;
    align-items: center;
    margin-bottom: 28px;
    p{
        width: 282px;
        text-transform: uppercase;
        @include text($smallerSize, $small-line-height, $biggest-letter-spacing, $bold-font-weight);
    }
}

.list{
    display: flex;
    flex-direction: column;
    gap: 24px;
    .item{
        display: flex;
        gap: 18px;
        align-items: center;
        &__description{
            .live{
                color: #43D049;
                text-transform: uppercase;
                @include text($smallerSize, $small-line-height, $biggest-letter-spacing, $bold-font-weight);
            }
            .dead{
                color: #EB5757;
                text-transform: uppercase;
                @include text($smallerSize, $small-line-height, $biggest-letter-spacing, $bold-font-weight);
            }
            .name{
                color: $blackThemeText;
                @include text($regularSize-1, $regular-line-height-2, $big-letter-spacing, $bold-font-weight);
            }
            .race{
                @include text($smallSize-1, $small-line-height, $big-letter-spacing);
            }
        }
    }
}