@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.count-of-characters_list {
    display: flex;
    gap: 24px;
    align-items: center;
    margin-bottom: 28px;
    p{
        width: 282px;
        text-transform: uppercase;
        @include text-style($smallerSize, $small-line-height, $biggest-letter-spacing, $bold-font-weight);
    }
}

.list{
    display: flex;
    flex-direction: column;
    gap: 24px;
    overflow-y: scroll;
    height: 610px;
    .item{
        display: flex;
        gap: 18px;
        align-items: center;
        img{
            width: 74px;
            height: 74px;
            border-radius: 100px;
        }
        &__description{
            .live{
                color: #43D049;
                text-transform: uppercase;
                @include text-style($smallerSize, $small-line-height, $biggest-letter-spacing, $bold-font-weight);
            }
            .dead{
                color: #EB5757;
                text-transform: uppercase;
                @include text-style($smallerSize, $small-line-height, $biggest-letter-spacing, $bold-font-weight);
            }
            .name{
                color: $blackThemeText;
                @include text-style($regularSize-1, $regular-line-height-2, $big-letter-spacing, $bold-font-weight);
            }
            .race{
                color: $noActiveElement;
                @include text-style($smallSize-1, $small-line-height, $big-letter-spacing);
            }
        }
    }
}