@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";

.characters-page__search_active {
    @include page__search_active;
}

.search-character-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    .result-title {
        color: $noActiveElement;
        text-transform: uppercase;
        @include text-style($smallerSize, $small-line-height, $biggest-letter-spacing, $bold-font-weight);
    }

    .found-characters {
        @include list;
        height: 650px;
        width: 335px;
    }
    .not-found-characters {
        color: $noActiveElement;
        @include not-found(15%, 28px);
    }
}
