@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";

.characters-page__search_active {
    display: flex;
    align-items: center;
    padding: 12px 15px 12px 16px;
    gap: 20px;
    width: 375px;
    height: 48px;
    background:var(--secondary-color);
    input {
        width: 256px;
        color: inherit;
        background: inherit;
        @include text-style($regularSize-1, $regular-line-height-2, 0.444444px);
    }
}

.search-character-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    .result-title {
        color: $noActiveElement;
        text-transform: uppercase;
        @include text-style($smallerSize, $small-line-height, $biggest-letter-spacing, $bold-font-weight);
    }

    .found-characters {
        @include list;
        height: 650px;
        width: 335px;
    }
    .not-found-characters {
        color: $noActiveElement;
        @include not-found(15%, 28px);
    }
}
