@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.locations-page {
    height: 100vh;
    background-color: var(--primary-color);
    color: var(--font-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 15px 0;
}
