@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.sign-in-page {
    height: 100vh;
    background-color: $blackTheme;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    gap: 40px;
    &__title {
        width: 267.83px;
        height: 376.22px;
    }
    &__form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        .field {
            @include field-property(true);
        }
        .recovery-client {
            text-align: right;
            letter-spacing: 0.25px;
            font-size: 14px;
            line-height: 20px;
            color: $noActiveElement;
        }
        .button-submit {
            text-align: center;
            display: flex;
            flex-direction: column;
            gap: 24px;
            @include button-style;
            p {
                color: $noActiveElement;
                span {
                    color: #43d049;
                }
            }
        }
    }
}


.modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0.5;
    transition: 0.5s all;
}

.no-touch {
    pointer-events: none;
}
