@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";

.episodes-page__search_active {
    @include page__search_active;
    margin-bottom: 20px;
}

.search-episodes-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    .result-title {
        color: $noActiveElement;
        text-transform: uppercase;
        @include text-style($smallerSize, $small-line-height, $biggest-letter-spacing, $bold-font-weight);
    }

    .found-episodes {
        @include list(false);
        height: 675px;
        width: 335px;
    }
    .not-found-episodes {
        color: $noActiveElement;
        @include not-found(15%, 44px);
    }
}