@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";

.episodes-page__search_active {
    display: flex;
    align-items: center;
    padding: 12px 15px 12px 16px;
    margin-bottom: 20px;
    gap: 20px;
    width: 375px;
    height: 48px;
    background: #152a3a;
    input {
        width: 256px;
        color: $blackThemeText;
        background: $blackThemeBorder;
        @include text-style($regularSize-1, $regular-line-height-2, 0.444444px);
    }
}

.search-episodes-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    .result-title {
        color: $noActiveElement;
        text-transform: uppercase;
        @include text-style($smallerSize, $small-line-height, $biggest-letter-spacing, $bold-font-weight);
    }

    .found-episodes {
        @include list(false);
        height: 675px;
        width: 335px;
    }
    .not-found-episodes {
        position: relative;
        top: 15%;
        display: flex;
        flex-direction: column;
        gap: 44px;
        align-items: center;
        text-align: center;
        p {
            color: #5b6975;
            width: 216px;
            @include text-style($regularSize-1, $regular-line-height-2, $small-letter-spacing);
        }
    }
}