@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.episodes-page__search {
    display: flex;
    align-items: center;
    width: 343px;
    height: 48px;
    padding: 12px 17px;
    gap: 10px;
    background: #152a3a;
    border-radius: 100px;
    margin-bottom: 10px;
    input {
        width: 280px;
        color: $noActiveElement;
        background: $blackThemeBorder;
        @include text-style($regularSize-1, $regular-line-height-2, $big-letter-spacing);
    }
}
.list-of-seasons {
    display: flex;
    align-items: center;
    overflow-x: scroll;
    gap: 10px;
    padding: 0 10px;
    width: 375px;
    height: 44px;
    margin-bottom: 26px;
    &__item {
        display: flex;
        flex-direction: column;
        gap: 5px;
        text-align: center;
        color: #5b6975;
        p {
            width: 76px;
            text-transform: uppercase;
            @include text-style($smallSize-3, $regular-line-height-2, $biggest-letter-spacing, $bold-font-weight);
        }
    }
    &__item_active {
        display: flex;
        flex-direction: column;
        gap: 5px;
        text-align: center;
        p {
            width: 76px;
            text-transform: uppercase;
            @include text-style($smallSize-3, $regular-line-height-2, $biggest-letter-spacing, $bold-font-weight);
        }
        .active {
            width: 70px;
            height: 2px;
            background: #ffffff;
            border-radius: 100px;
        }
    }
}
.list-of-episodes {
    display: flex;
    flex-direction: column;
    width:100%;
    height: 604px;
    padding: 0 16px;
    overflow-y: scroll;
}

.navigation-panel {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    padding: 8px 10px 12px;
    background: #152a3a;
    box-shadow: 0px -4px 30px rgba(0, 0, 0, 0.08);
    &__item {
        width: 88.75px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: $noActiveElement;
    }
    &__item_select {
        width: 88.75px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #43d049;
    }
}