@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";

.locations-page__search_active {
    @include page__search_active;
}

.search-locations-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    .result-title {
        color: $noActiveElement;
        text-transform: uppercase;
        @include text-style($smallerSize, $small-line-height, $biggest-letter-spacing, $bold-font-weight);
    }

    .found-locations {
        @include list;
        height: 650px;
    }
    .not-found-locations {
        color: $noActiveElement;
        @include not-found(20%, 64px);
    }
}