@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";

.locations-page__search_active {
    display: flex;
    align-items: center;
    padding: 12px 15px 12px 16px;
    gap: 20px;
    width: 375px;
    height: 48px;
    background: #152a3a;
    input {
        width: 256px;
        color: $blackThemeText;
        background: $blackThemeBorder;
        @include text-style($regularSize-1, $regular-line-height-2, 0.444444px);
    }
}

.search-locations-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    .result-title {
        text-transform: uppercase;
        @include text-style($smallerSize, $small-line-height, $biggest-letter-spacing, $bold-font-weight);
    }

    .found-locations {
        @include list;
        height: 650px;
    }
    .not-found-locations {
        position: relative;
        top: 20%;
        display: flex;
        flex-direction: column;
        gap: 64px;
        align-items: center;
        text-align: center;
        p {
            width: 216px;
            @include text-style($regularSize-1, $regular-line-height-2, $small-letter-spacing);
        }
    }
}