@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.episodes-page {
    background-color: $blackTheme;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
    color: $blackThemeText;
}
