@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.settings-page {
    height: 100vh;
    background-color: inherit;
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 15px 16px;
}

.exit {
    display: flex;
    align-items: center;
    gap: 20px;
    color: inherit;
    width: 100%;
    p {
        @include text-style($regularSize-2, $regular-line-height-3, $small-letter-spacing, $bold-font-weight);
    }
}

.all-settings {
    display: flex;
    flex-direction: column;
    gap: 32px;
    .main-settings {
        display: flex;
        flex-direction: column;
        gap: 30px;
        .profile {
            display: flex;
            align-items: center;
            gap: 16px;
            img {
                width: 80px;
                height: 80px;
                border-radius: 50%;
            }
            .profile__info {
                p:first-child {
                    color: inherit;
                    @include text-style($regularSize-1, $regular-line-height-2, $small-letter-spacing);
                }
                p:last-child {
                    color: $noActiveElement;
                    @include text-style($smallSize-3, $regular-line-height, $regular-letter-spacing);
                }
            }
        }
        .edit-button {
            border: 1px solid $activeElement;
            color: $activeElement;
            border-radius: 12px;
            background: inherit;
            width: 100%;
            height: 40px;
        }
    }
    .others-settings {
        display: flex;
        flex-direction: column;
        gap: 36px;
        .change-theme {
            display: flex;
            flex-direction: column;
            gap: 24px;
            > p {
                color: $noActiveElement;
                @include text-style($smallerSize, $small-line-height, $biggest-letter-spacing, $bold-font-weight);
                text-transform: uppercase;
            }
            .select-theme {
                display: flex;
                align-items: center;
                gap: 16px;
                .info-of-theme {
                    width: 100%;
                    p:first-child {
                        color: inherit;
                        @include text-style($regularSize-1, $regular-line-height-2, $small-letter-spacing);
                    }
                    p:last-child {
                        color: $noActiveElement;
                        @include text-style($smallSize-3, $regular-line-height, $regular-letter-spacing);
                    }
                }
            }
        }

        .about {
            display: flex;
            flex-direction: column;
            gap: 24px;
            p:first-child {
                color: $noActiveElement;
                @include text-style($smallerSize, $small-line-height, $biggest-letter-spacing, $bold-font-weight);
                text-transform: uppercase;
            }
            p:last-child {
                @include text-style($smallSize-2, $regular-line-height, $regular-letter-spacing);
            }
        }

        .version {
            display: flex;
            flex-direction: column;
            gap: 24px;
            p:first-child {
                color: $noActiveElement;
                @include text-style($smallerSize, $small-line-height, $biggest-letter-spacing, $bold-font-weight);
                text-transform: uppercase;
            }
            p:last-child {
                @include text-style($smallSize-2, $regular-line-height, $regular-letter-spacing);
            }
        }
    }
}

.change-theme-modal {
    position: fixed;
    top: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    gap: 24px;
    background: inherit;
    border-radius: 10px;
    pointer-events: all;
    color: inherit;
    .title {
        @include text-style($regularSize-2, $regular-line-height-3, $small-letter-spacing, $bold-font-weight);
    }

    .select-list {
        display: flex;
        flex-direction: column;
        gap: 24px;
        li {
            display: flex;
            gap: 16px;
            @include text-style($regularSize-1, $regular-line-height-2, $small-letter-spacing);
            input {
                display: none;
            }
            label {
                display: inline-block;
                cursor: pointer;
                position: relative;
                padding-left: 40px;
                margin-right: 0;
                user-select: none;
                &::before {
                    content: "";
                    display: inline-block;
                    width: 24px;
                    height: 24px;
                    position: absolute;
                    bottom: 1px;
                    left: 0;
                    background: url("../../../assets/other/RadioNonActive.png") 0 0 no-repeat;
                }
            }
            input:checked + label:before {
                background: url("../../../assets/other/RadioActive.png") 0 0 no-repeat;
            }
        }
    }

    .cancel {
        text-align: end;
        text-transform: uppercase;
        @include text-style($smallSize-3, $regular-line-height-2, $biggest-letter-spacing, $bold-font-weight);
    }
}
