@mixin field-property($da: false, $background:$secondary-black-theme, $color:$blackThemeText) {
    display: flex;
    flex-direction: column;
    gap: 12px;
    label {
        color: $color;
    }
    @if $da == false {
        &__login {
            @include input-style($background:$background, $color:$color);
        }
        &__pass {
            @include input-style($background:$background, $color:$color);
        }
    } @else {
        &__login {
            @include input-style("../assets/other/userIcon.png", $background, $color);
        }
        &__pass {
            @include input-style("../assets/other/passwordIcon.png",$background, $color);
        }
    }
}

@mixin input-style($url: null, $background:$secondary-black-theme, $color:$blackThemeText) {
    @if $url == null {
        padding: 12px 8px 12px 16px;
        width: 319px;
        height: 48px;
        font-size: $smallSize-3;
        line-height: $regular-line-height;
        border-radius: 12px;
        color: $color;
        background: $background;
    } @else {
        padding: 12px 8px 12px 60px;
        width: 319px;
        height: 48px;
        font-size: $smallSize-3;
        line-height: $regular-line-height;
        border-radius: 12px;
        color: $color;
        background: $background;
        background-image: url($url);
        background-repeat: no-repeat;
        background-position: 5%;
    }
}

@mixin button-style {
    button {
        background: $activeElement;
        border-radius: 12px;
        color: $blackThemeText;
        width: 319px;
        height: 48px;
    }
}

@mixin text-style($size, $line-height, $letter-spacing, $weight: $regular-font-weight) {
    font-weight: $weight;
    font-size: $size;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
}

@mixin list($gap: true) {
    @if $gap == true {
        display: flex;
        flex-direction: column;
        gap: 24px;
        overflow-y: scroll;
        height: 610px;
    } @else {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        height: 610px;
    }
}

@mixin not-found($top, $gap) {
    position: relative;
    top: $top;
    display: flex;
    flex-direction: column;
    gap: $gap;
    align-items: center;
    text-align: center;
    p {
        width: 216px;
        @include text-style($regularSize-1, $regular-line-height-2, $small-letter-spacing);
    }
}
