@mixin field-property($logo: false) {
    display: flex;
    flex-direction: column;
    gap: 12px;
    label {
        color: var(--font-color);
    }
    @if $logo == false {
        &__login {
            @include input-style();
        }
        &__pass {
            @include input-style();
        }
    } @else {
        &__login {
            @include input-style("../assets/other/userIcon.png");
        }
        &__pass {
            @include input-style("../assets/other/passwordIcon.png");
        }
    }
}

@mixin input-style($url: null) {
    @if $url == null {
        padding: 12px 8px 12px 16px;
        width: 319px;
        height: 48px;
        font-size: $smallSize-3;
        line-height: $regular-line-height;
        border-radius: 12px;
        color: var(--font-color);
        background: var(--secondary-color);
    } @else {
        padding: 12px 8px 12px 60px;
        width: 319px;
        height: 48px;
        font-size: $smallSize-3;
        line-height: $regular-line-height;
        border-radius: 12px;
        color: var(--font-color);
        background: var(--secondary-color);
        background-image: url($url);
        background-repeat: no-repeat;
        background-position: 5%;
    }
}

@mixin button-style {
    button {
        background: $activeElement;
        border-radius: 12px;
        color: $blackThemeText;
        width: 319px;
        height: 48px;
    }
}

@mixin text-style($size, $line-height, $letter-spacing, $weight: $regular-font-weight) {
    font-weight: $weight;
    font-size: $size;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
}

@mixin list($gap: true) {
    @if $gap == true {
        display: flex;
        flex-direction: column;
        gap: 24px;
        overflow-y: scroll;
        height: 610px;
    } @else {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        height: 610px;
    }
}

@mixin not-found($top, $gap) {
    position: relative;
    top: $top;
    display: flex;
    flex-direction: column;
    gap: $gap;
    align-items: center;
    text-align: center;
    p {
        width: 216px;
        @include text-style($regularSize-1, $regular-line-height-2, $small-letter-spacing);
    }
}

@mixin page {
    height: 100vh;
    background: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--font-color);
}

@mixin page__search_active {
    display: flex;
    align-items: center;
    padding: 12px 15px 12px 16px;
    gap: 20px;
    width: 375px;
    height: 48px;
    background:var(--secondary-color);
    input {
        width: 256px;
        color: inherit;
        background: inherit;
        @include text-style($regularSize-1, $regular-line-height-2, 0.444444px);
    }
}