$type: 'light';

//color
$LoadingBackground: #081F32;

$primary-black-theme: #0B1E2D;
$blackThemeText: #FFFFFF;
$secondary-black-theme: #152A3A;

$whiteTheme: #FCFCFC;
$whiteThemeText: #0B1E2D;
$secondary-white-theme: #F2F2F2;

$activeElement: #22A2BD;
$noActiveElement: #5B6975;

//font-size

$smallerSize: 10px;

$smallSize-1: 12px;
$smallSize-2: 13px;
$smallSize-3: 14px;

$regularSize-1: 16px;
$regularSize-2: 20px;
$regularSize-3: 24px;

$bigSize: 34px;

//line-height

$small-line-height: 16px;
$regular-line-height: 20px;
$regular-line-height-2: 24px;
$regular-line-height-3: 28px;
$big-line-height: 32px;
$biggest-line-height: 40px;

//letter-spacing

$small-letter-spacing: 0.15px;
$regular-letter-spacing: 0.25px;
$big-letter-spacing: 0.5px;
$biggest-letter-spacing: 1.5px;

//font-weight

$regular-font-weight: 400;
$bold-font-weight: 500;
