@import "../../styles/variables.scss";

.App {
    &-dark {
        --primary-color:#0B1E2D;
        --secondary-color:#152A3A;
        --font-color:#FFFFFF;
    }
    &-light {
        --primary-color:#FCFCFC;
        --secondary-color:#F2F2F2;
        --font-color:#0B1E2D;
    }
}