@import "../../styles/variables.scss";

.App {
    &-dark {
        --primary-color:#0B1E2D;
        --secondary-color:#152A3A;
        --font-color:#FFFFFF;
    }
    &-light {
        --primary-color:#FCFCFC;
        --secondary-color:#F2F2F2;
        --font-color:#0B1E2D;
    }
}

// .dark-theme-secondary {
//     background: $secondary-black-theme;
// }
// .light-theme-secondary {
//     background: $secondary-white-theme;
// }

// .dark-theme-border {
//     border: 1px solid $secondary-black-theme;
// }
// .light-theme-border {
//     border: 1px solid $secondary-white-theme;
// }