@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.tile__item {
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: center;
    text-align: center;
    img {
        width: 120px;
        height: 122px;
        border-radius: 100px;
    }
    .description {
        .live {
            color: #43d049;
            text-transform: uppercase;
            @include text-style($smallerSize, $small-line-height, $biggest-letter-spacing, $bold-font-weight);
        }
        .dead {
            color: #eb5757;
            text-transform: uppercase;
            @include text-style($smallerSize, $small-line-height, $biggest-letter-spacing, $bold-font-weight);
        }
        .name {
            color: $blackThemeText;
            @include text-style($regularSize-1, $regular-line-height-2, $big-letter-spacing, $bold-font-weight);
        }
        .race {
            color: $noActiveElement;
            @include text-style($smallSize-1, $small-line-height, $big-letter-spacing);
        }
    }
}
