@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.characters-page {
    height: 100vh;
    background-color: inherit;
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 15px 0;
}
