@import "../../../../styles/variables.scss";
@import "../../../../styles/mixins.scss";

.name-change-page {
    height: 100vh;
    background-color: var(--primary-color);
    color: var(--font-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 15px 16px;
    .user-data {
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        .field {
            @include field-property();
        }
    }

    .button-submit {
        position: absolute;
        bottom: 25px;
        @include button-style;
    }
}
