@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.episode-page {
    background: $blackTheme;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $blackThemeText;
    &__header {
        z-index: 0;
        backdrop-filter: blur(4px);
        background: linear-gradient(180deg, rgba(11, 30, 45, 0) 68.93%, rgba(0, 0, 0, 0.65) 100%),
            linear-gradient(180deg, rgba(0, 0, 0, 0.65) 0%, rgba(11, 30, 45, 0) 37.29%, rgba(11, 30, 45, 0) 68.93%);
        .arrow {
            z-index: 1;
            position: absolute;
            left: 16px;
            top: 16px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 48px;
            height: 48px;
            padding: 12px;
            gap: 10px;
            background: #152a3a;
            border-radius: 100px;
        }
    }

    &__main {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: $blackTheme;
        top: -25px;
        border-top-left-radius: 26px;
        border-top-right-radius: 26px;
        width: 100%;
        .wrapper {
            position: relative;
            top: -65px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .player {
                margin-bottom: 16px;
            }
            .episode-data {
                display: flex;
                flex-direction: column;
                gap: 36px;
                align-items: center;
                padding: 0 16px;
                margin-bottom: 36px;
                .title {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 3px;
                    text-align: center;
                    p:first-child {
                        @include text-style($regularSize-3, $big-line-height, $small-letter-spacing, 700);
                    }
                    p:last-child {
                        color: $activeElement;
                        @include text-style($smallerSize, $small-line-height, $small-letter-spacing, $bold-font-weight);
                    }
                }
                .description {
                    display: flex;
                    flex-direction: column;
                    gap: 24px;
                    p {
                        @include text-style($smallSize-2, $regular-line-height, $regular-letter-spacing);
                    }
                    .release-date {
                        p:first-child {
                            color: $noActiveElement;
                            @include text-style($smallSize-1, $small-line-height, $big-letter-spacing);
                        }
                        p:last-child {
                            @include text-style($smallSize-3, $regular-line-height, $regular-letter-spacing);
                        }
                    }
                }
            }

            .border {
                border: 2px solid #152a3a;
                width: 100%;
                margin-bottom: 36px;
            }

            .realeted-characters {
                display: flex;
                flex-direction: column;
                gap: 24px;
                width: 100%;
                padding: 0 16px;
                .title {
                    @include text-style(
                        $regularSize-2,
                        $regular-line-height-3,
                        $small-letter-spacing,
                        $bold-font-weight
                    );
                }
                .list-of-characters {
                    display: flex;
                    flex-direction: column;
                    gap: 24px;
                    &__item {
                        display: flex;
                        gap: 18px;
                        align-items: center;
                        .description {
                            width: 100%;
                            .live {
                                color: #43d049;
                                text-transform: uppercase;
                                @include text-style(
                                    $smallerSize,
                                    $small-line-height,
                                    $biggest-letter-spacing,
                                    $bold-font-weight
                                );
                            }
                            .dead {
                                color: #eb5757;
                                text-transform: uppercase;
                                @include text-style(
                                    $smallerSize,
                                    $small-line-height,
                                    $biggest-letter-spacing,
                                    $bold-font-weight
                                );
                            }
                            .name {
                                color: $blackThemeText;
                                @include text-style(
                                    $regularSize-1,
                                    $regular-line-height-2,
                                    $big-letter-spacing,
                                    $bold-font-weight
                                );
                            }
                            .race {
                                color: $noActiveElement;
                                @include text-style($smallSize-1, $small-line-height, $big-letter-spacing);
                            }
                        }
                    }
                }
            }
        }
    }
}
